@value notSmall, medium, large from "../../styles/media-queries.css";

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--mttrsBlue);
  padding: 0.625em;
  width: 100%;

  @media notSmall {
    width: auto;
  }

  @media medium {
    height: 3.75em;
  }
}

.logoSection {
  display: none;

  @media notSmall {
    display: block;
  }
}

.title {
  color: #FFF;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 1.25em;

  @media notSmall {
    margin: 0;
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media notSmall {
    display: none;
  }
}
