@import "../../styles/variables.css";
@value notSmall, medium, large from "../../styles/media-queries.css";

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $mttrsBlue;
  padding: 0.625em;
  width: 100%;

  @media notSmall {
    width: auto;
  }

  @media medium {
    height: 3.75em;
  }

  @media large {
    margin-left: -2.5em;
  }
}

.logoSection {
  display: none;

  @media notSmall {
    display: block;
    position: relative;
    top: 1px;
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media notSmall {
    display: none;
  }
}
