@import "../../styles/variables.css";
@value xNotSmall, xMedium, xLarge from "../../styles/media-queries.css";

.subHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625em;
  width: 100%;
}

.title {
  display: inline-block;
}

.logoSection {
  position: relative;
  top: 10px;
  margin-bottom: 14px;

  @media xNotSmall {
    top: 18px;
    margin-bottom: 25px;
  }
}

.menuTrigger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media xNotSmall {
    display: none;
  }
}
