@import "../../styles/variables.css";
@value xNotSmall, xMedium, xLarge from "../../styles/media-queries.css";

.header {
  background: $mttrsDark;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 2;

  @media xMedium {
    height: 100px;
  }

  @media xLarge {
    height: 120px;
  }
}
