@value notSmall, medium, large from "../../styles/media-queries.css";

.header {

  background: var(--mttrsBlue);
  > div {
    display: flex;
    height: 3.125em;

    @media medium {
      height: auto;
      flex-direction: column;
    }

    @media large {
      lost-center: 60em;
      height: 4.375em;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
