.search {
  display: flex;
  align-items: center;
  height: calc((41 / var(--mttrsBase))rem);
  border-radius: 4px;
  border-radius: 0px;
  border: 1px solid var(--mttrsBackgroundColor);
  background-color: var(--mttrsOtherGray);

  img {
    margin-left: 1em;
    margin-right: 0.7em;
  }
}

.input {
  border: 0;
  outline: 0;
  width: 100%;
  font-size: .9rem;
  color: var(--mttrsGray);
  background-color: var(--mttrsOtherGray);

  &::placeholder {
    color: var(--mttrsGray);
  }
}

.outerBorder {
  margin: 0.34375rem auto 0.875rem;
  @media (--notSmall) {
    margin: 0;
    border: 1px solid var(--mttrsBackgroundColor);
  }
}

.close {
  font-size: .8em;
  background-color: var(--mttrsGray);
  color: #FFF;
  cursor: pointer;
  padding: .1rem .3rem;
  margin-right: .5rem;
  border-radius: 4px;
}
