:global {
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #F1F1F1;
  }

  a {
    text-decoration: none;
    color: var(--darkest-color)
  }

  :root {
    --darkest-color: #333333
  }

}
