:global {
  :root {
    --mttrsBlue: #262C5B;
    --mttrsSecondaryBlue: #393F69;
  }

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
