@value notSmall, medium, large from "./media-queries.css";

.lineClamp {
  position: relative;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  line-height: 1.2;

  &:after {
    display: block;
    position: absolute;
    height: calc(1em * 1.2);
    content: '';
    text-align: right;
    bottom: 0;
    right: 0;
  }
}

@supports (-webkit-line-clamp: 1) {
  .lineClamp {
    &:after {
      display: none;
    }
  }
}

.lineClamp3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);

  @media medium {
    height: calc(1em * 1.2 * 2);
  }

  @media large {
    height: calc(1em * 1.2 * 1);
  }
}

.lineClamp1 {
  -webkit-line-clamp: 1;
  height: calc(1em * 1.3 * 2);

  @media medium {
    height: calc(1em * 1.3 * 2);
  }
}
