:global {
  .ReactModal__Body--open {
    overflow: hidden
  }

  .ReactModal__Overlay {
    opacity: 0;
    &--after-open {
      opacity: 1;
      transition: opacity 200ms ease-in-out;
    }
    &--before-close {
        opacity: 0;
    }
  }

  .ReactModal__Content {
    transform: translateY(25em);
    opacity: 0;
    transition: transform 190ms ease-in, opacity 230ms ease-in;
    transition-delay: 240ms
  }

  .ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0em);
  }

  .ReactModal__Content--before-close {
    transform: translateY(25em);
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  overflow: auto;
  overflow-scrolling: touch;
  outline: none;
  padding: 0;
  z-index: 4;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.onboardingOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10
}

.onboarding {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  /*height: 74vh;*/
  @media (--notSmall) {
    position: relative;
    lost-center: calc((680 / var(--mttrsBase))rem);
    border-radius: 10px;
    min-height: 500px;
    max-height: 720px;
  }
}

.storyLinks {
  background-color: var(--mttrsBackgroundColor);
  top: 100px;
  left: 10px;
  right: 10px;
  bottom: 70px;
  border-radius: 4px;
  @media (--notSmall) {
    lost-center: calc((680 / var(--mttrsBase))rem);
    top: 140px;
  }

  @media (--large) {
    margin-left: calc(50% - 230px);
  }
}
