@import "../../styles/mixins.css";

.title {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding-left: calc((6 / 10)rem);
  transition: background-color 250ms cubic-bezier(.07,.4,.81,.91);
  @mixin lineClamp 1.125rem, 1.3, 3, #FFF;

  @media (--medium) {
    @mixin lineClamp 1.125rem, 1.3, 2, #FFF;
  }

  @media (--large) {
    @mixin lineClamp 1.125rem, 1.3, 2, #FFF;
  }
}

.active, .title:active, .title:hover {
  background-color: var(--mttrsBackgroundColor)
}

@mixin lineClampFirefox #FFF, .title;
