.container {
  padding: 0 calc(50% - 45vw);
  text-align: center;

  &:after {
    display: block;
    content: '';
    height: 1px;
    width: 180px;
    margin: 30px auto;
    background-color: var(--mttrsGray);
    opacity: 0.5;
  }
}

.slogan {
  font-size: calc((12 / 16)rem);
  color: var(--mttrsGray);
  padding: 30px calc(50% - 80px) 0;
}

.badge {
  display: block;
  width: 120px;
  height: auto;
  margin: 0 auto 10px auto;
}
