.container {
  flex-direction: column;
  padding: 0 15px;

  @media (--medium) {
    padding-left: calc(50% - 400px);
    padding-right: calc(50% - 400px);
  }

  @media (--large) {
    padding-left: var(--menuWidth);
    padding-right: 0;
  }
}

.loading {
  composes: container;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: calc((100 / var(--mttrsBase))rem);
  color: var(--mttrsDarkGray);
  font-size: calc((14 / var(--mttrsBase))rem);
  font-weight: 300;
}
