.container {
  display: flex;
  flex-direction: column;
  margin-bottom: calc((16 / var(--mttrsBase))rem);
}

.categories {
  position: relative;
  width: 100%;

  &:after {
    display: block;
    content: '';
    height: 1px;
    width: 180px;
    margin: 5px auto;
    background-color: var(--mttrsGray);
    opacity: 0.5;
  }

  @media (--notSmall) {
    padding-left: calc(50% - 45vw);
  }
}

.title {
  font-size: calc((9 / var(--mttrsBase))rem);
  text-transform: uppercase;
  text-align: center;
  color: var(--mttrsGray);

  @media (--notSmall) {
    text-align: left;
    padding-left: 35px;
  }
}
