@import "../../styles/variables.css";

.container {
  height: calc(100% - $menuCategoriesHeaderHeight);
  overflow-y: scroll;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 5%;
}

.topStories {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F1F1F1;
  height: 6.25em;
  margin: 15px 5%;
  box-shadow: 1px 1px 3px 0 #000000;
}

.topStoriesActive {
  background: $mttrsIndigoBlue;

  .topStoriesTitle {
    color: #FFF;
  }

  .icon {
    filter: brightness(10);
  }
}

.topStoriesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon,
.topStoriesTitle {
  margin: 0 8px;
}

.topStoriesTitle {
  color: $mttrsIndigoBlue;;
}

.icon {
  width: 19px;
  height: 20px;
}
