.trigger {
  background-color: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--mttrsOtherGray);
  outline: 0;

  &:hover {
    cursor: pointer;
    background-color: var(--mttrsBackgroundColor);
  }

  @media (--large) {
    display: none;
  }
}

_::-webkit-:host:not(:root:root), .trigger {
  padding-top: 5px;
}

.square {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: var(--mttrsOtherGray);

  &:nth-child(2) {
    margin: 3px 0;
  }
}
