.text {
  font-size: calc((10 / var(--mttrsBase))rem);
  margin: calc((7 / var(--mttrsBase))rem) 0 0 calc((10 / var(--mttrsBase))rem);
  color: #999;
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03em;
  &:active, &:hover {
    text-decoration: underline;
  }
}
