.text {
  font-size: calc((10 / 16)rem);
  margin: calc((7 / 16)rem) 0 0 calc((10 / 16)rem);
  color: #999;
}

.label {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .03em;
  &:active, &:hover {
    text-decoration: underline;
  }
}

.isVisited {
  opacity: 0.5;
}
