.triangle {
  width: 0;
  height: 0;
  background: transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid;
  position: absolute;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background: #F7F7F8;
  font-size: calc((13 / var(--mttrsBase))rem);
  font-weight: 500;
  color: #2D2D2B;
  cursor: pointer;
  height: calc((32 / var(--mttrsBase))rem);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.text {
  margin-right: 0.5rem;
}

.expandButtonTriangle {
  composes: triangle;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 7px 3px;
  position: relative;
}

.showMore {
  composes: expandButtonTriangle;
  border-bottom: 0px;
  border-top: 5px solid #2D2D2B;
}

.showLess {
  composes: expandButtonTriangle;
  border-bottom: 5px solid #2D2D2B;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footerWithGradient {
  composes: footer;
  height: calc((64 / var(--mttrsBase))rem);
}

.gradient {
  height: calc((32 / var(--mttrsBase))rem);
  background: linear-gradient(-180deg, rgba(247, 247, 248, 0.2) 0%, #F7F7F8 100%);
}

.isVisited {
  opacity: 0.5;
}
