.logo {
  a {
    @media (--large) {
      padding-left: 30px;
    }
  }

  img {
    height: calc((20 / var(--mttrsBase))rem);

    @media (--notSmall) {
      height: calc((28 / var(--mttrsBase))rem);
    }
  }

  position: relative;
  top: 3px;

  @media (--medium) {
    position: relative;
    width: 100%;
    top: 2px;
    text-align: center;
  }

  @media (--large) {
    position: relative;
    width: var(--menuWidth);
  }
}
