.logo {
  a {
    @media (--large) {
      padding-left: 30px;
    }
  }

  svg {
    width: 80px;
    height: auto;

    @media (--notSmall) {
      width: 120px;
    }
  }

  position: relative;
  top: 3px;

  @media (--medium) {
    position: relative;
    width: 100%;
    top: 2px;
    text-align: center;
  }

  @media (--large) {
    position: relative;
    width: var(--menuWidth);
  }
}
