.container {
  lost-center: calc((728 / var(--mttrsBase))em);
  margin-bottom: calc((10 / var(--mttrsBase))rem);
  cursor: pointer;

  &:hover {
    & .buttonText {
      text-decoration: underline;
    }
  }
}

.box {
  position: relative;
  margin: calc((6 / var(--mttrsBase))rem);
  border-radius: 5px;
  padding: calc((10 / var(--mttrsBase))rem);
  background-color: #F7F7F8;
  border: 1px solid #DDDDDD;
}

.boxNotExpanded {
  composes: box;
  max-height: 10rem;
  overflow: hidden;
}

.headlineContainer {
  display: flex;
  flex-flow: row
}

.logoContainer {
  margin: calc((10 / var(--mttrsBase))rem) calc((5 / var(--mttrsBase))rem) 0 0;
}

.headline {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  padding-left: 5px;
}

.text {
  font-size: 0.875rem;
  line-height: 1.4375rem;
  opacity: 0.95;
  color: #666;
  padding-bottom: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footerWithGradient {
  composes: footer;
  height: 4rem;
}

.gradient {
  height: 2rem;
  background: linear-gradient(-180deg, rgba(247, 247, 248, 0.2) 0%, #F7F7F8 100%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background: #F7F7F8;
  font-size: 0.8125rem;
  font-weight: 500;
  color: #2D2D2B;
  cursor: pointer;
  height: 2rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.buttonText {
  margin-right: 0.5rem;
}
