.container {
  lost-center: calc((728 / 16)em);
  margin-bottom: calc((10 / 16)rem);
  cursor: pointer;

  &:hover {
    & .buttonText {
      text-decoration: underline;
    }
  }
}

.box {
  position: relative;
  margin: calc((6 / 16)rem);
  border-radius: 5px;
  padding: calc((10 / 16)rem);
  background-color: #F7F7F8;
  border: 1px solid #DDDDDD;
}

.boxNotExpanded {
  composes: box;
  max-height: 10rem;
  overflow: hidden;
}

.headlineContainer {
  display: flex;
  flex-flow: row
}
