.container {
  lost-center: calc((728 / var(--mttrsBase))em);
  margin-bottom: calc((10 / var(--mttrsBase))rem);

  &:hover {
    & .buttonText {
      text-decoration: underline;
    }
  }
}

.box {
  position: relative;
  margin: calc((6 / var(--mttrsBase))rem);
  border-radius: 5px;
  padding: calc((10 / var(--mttrsBase))rem);
  background-color: #F7F7F8;
  border: 1px solid #DDDDDD;
}

.headlineContainer {
  display: flex;
  flex-flow: row
}

.logoContainer {
  margin: calc((10 / var(--mttrsBase))rem) calc((5 / var(--mttrsBase))rem) 0 0;
}

.headline {
  color: #666666;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  padding-left: 5px;
}
