@import "../../styles/variables.css";

.container {
  display: flex;
  flex-direction: column;
}

.search {
  position: fixed;
  background-color: $mttrsBlue;
  width: 100%;
  z-index: 2;
}

.publishers {
  position: relative;
  top: 5.3125em;
  height: calc(100% - $menuPublishersHeaderHeight);
  margin: 0;
  overflow-y: scroll;
  z-index: 1;
}
