.publishers {
  position: relative;
  flex: 1;
  z-index: 1;
  lost-utility: clearfix;

  @media (--large) {
    lost-center: calc((820 / var(--mttrsBase))em);
    width: calc((820 / var(--mttrsBase))em);
  }

  @media (--xLarge) {
    lost-center: calc((1140 / var(--mttrsBase))em);
    width: calc((1140 / var(--mttrsBase))em);
  }
}
