@import "../../styles/variables.css";

.container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 3.125em;
  left: 0;
  background-color: $mttrsBlue;
  overflow: auto;
  color: white;
  z-index: 2;
}
