.category {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  width: 7.5rem;
  height: 1.5625rem;
  margin-bottom: 15px;
  font-size: 0.875rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.active {
  .title {
    color: #FFF !important;
  }
  img {
    filter: brightness(10)
  }
}
