.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: calc((2 / 16)rem) 0;
  margin: 2px 0;
  list-style: none;

  @media (--notSmall) {
    padding-left: 30px;
    justify-content: flex-start;
  }

  &:hover {
    .category {
      color: #FFF;
    }

    .marker {
      width: 15px;
    }
  }
}

.category {
  display: inline-block;
  font-size: calc((14 / 16)rem);
  color: var(--mttrsOtherGray);
  transition: all .15s ease-in-out;
}

.marker {
  position: absolute;
  display: block;
  right: 0;
  width: 5px;
  height: 100%;
  transition: all .15s ease-in-out;
}

.active {
  .category {
    color: inherit;
  }

  .marker {
    width: 15px;
  }
}
