@value notSmall, medium, large from "../../styles/media-queries.css";

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

::-webkit-:host:not(:root:root), .container,
::-webkit-:-webkit-full-screen:host:not(:root:root), .container {
  width: 92px;
}

.text {
  color: #FFF;
  font-size: 0.75rem;
  font-weight: 300;
  text-decoration: none;
  margin: 0 .75em;
}

.categoryText {
  margin-left: .50em;
}
