.container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 calc((4 / var(--mttrsBase))rem);
  height: calc((39 / var(--mttrsBase))rem);
  border-top: 1px solid #F1F1F1;
}
