.text {
  color: var(--mttrsGray);
  font-size: var(--mttrsFontSmall);
  cursor: pointer;
  &:active, &:hover {
    text-decoration: underline;
  }
}

.icon {
  position: relative;
  top: 0.125rem;
  width: 0.625rem;
  height: auto;
}
