.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: .8rem .7rem .7rem;
}

.link {
  display: flex;
}

.image {
  height: 90px;
  width: 120px;
}

:global {
  .LazyLoad {
    background-image: url(../../assets/mttrs-loading.gif);
    background-size: 120px 90px;
  }
}
