export const properties = {

}

.container {
  display: flex;
  flex: 1;
  cursor: pointer;
  margin-bottom: calc((6 / 16)rem);
  border: calc((4 / 16)rem) solid transparent;
  transition: border 250ms cubic-bezier(.07,.4,.81,.91);
  &:hover, &:active {
    border: calc((4 / 16)rem) solid var(--mttrsBackgroundColor);
  }
}

.link {
  display: flex;
}

.image {
  height: 90px;
  width: 120px;
}

:global {
  .LazyLoad {
    background-image: url(../../assets/mttrs-loading.gif);
    background-size: 120px 90px;
  }
}
