@value notSmall, medium, large from "../../styles/media-queries.css";

.search {
  display: flex;
  align-items: center;
  width: 80%;
  height: 2.5em;
  background: #FFF;
  margin: 1.25em auto;
  border-radius: 4px;

  svg {
    margin-left: 1em;
    margin-right: 0.7em;
  }
}

.input {
  border: 0;
  outline: 0;
  width: 100%;
}
