@import "../../styles/variables.css";
@value notSmall, medium, large from "../../styles/media-queries.css";

.nav {
  display: none;
  font-family: 'Cabin', sans-serif;
  color: #FFF;

  @media notSmall {
    display: flex;
  }

  @media medium {
    background: $mttrsSecondaryBlue;
    justify-content: center;
  }

  @media large {
    background: $mttrsBlue;
    margin-right: -2.5em;
  }
}
