@value notSmall, medium, large from "../../styles/media-queries.css";

.container {
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: 2em 0;
  padding: .7rem .7rem .3rem;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.20);
  position: relative;
  @media notSmall {
    lost-center: 45.5em;
  }
}

.story {
  display: flex;
  flex-flow: row;
}

.read {
  opacity: 0.5;
}
