.container {
  display: flex;
  flex-flow: column;
  background-color: white;
  margin: calc((10 / 16)em) 0;
  padding: calc((11 /16)rem) calc((11 /16)rem) calc((5 / 16)rem);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.20);
  position: relative;
  border-radius: 2px;
  @media (--notSmall) {
    lost-center: calc((620 / 16)rem);
  }
}

.story {
  display: flex;
  flex-flow: row;
}

.read {
  opacity: 0.5;
}
