.container {
  display: flex;
  align-items: center;
  font-size: var(--mttrsFontSmall);
  font-weight: 300;
  color: var(--mttrsGray);
  cursor: default
}

.content {
  display: flex;
  align-items: center;
}

.link {
  composes: container;
  cursor: pointer;
  &:active, &:hover {
    & .publisherName {
      text-decoration: underline;
    }
    & > div {
      border-color: var(--mttrsGray)
    }
  }
}

.otherLinks {
  cursor: pointer;
  &:active, &:hover {
    text-decoration: underline;
  }
}
