@import "../../styles/variables.css";

.text {
  display: flex;
  align-items: center;
  font-size: $mttrsFontSmall;
  font-weight: 300;
  color: $mttrsGray;
  a {
    color: $mttrsDarkGray;
    cursor: pointer;
  }
}
