@value notSmall, medium, large from "../../styles/media-queries.css";

.container {
  @media medium {
    padding: 0 1em;
  }

  @media large {
    lost-center: 60em;
  }

  &:first-of-type {
    padding-top: 3em;
  }
}
