.container {
  padding: 0 15px;

  @media (--medium) {
    padding: 0 1em;
  }

  &:first-of-type {
    margin-top: 5.5em;

    h2 {
      padding-bottom: 0.625rem;
    }

    @media (--medium) {
      padding-top: 1em;
    }

    @media (--large) {
      margin-top: 3.5em;
      padding-top: 2.5em;
    }
  }

  &:not(:first-of-type) {
    h2 {
      padding: 1rem 0;
    }
  }
}

.containerPublisher {
  composes: container;

  &:first-of-type {
    margin-top: 0;

    @media (--medium) {
      padding-top: 0;
    }

    @media (--large) {
      padding-top: 0;
    }
  }
}
