@import "../../styles/variables.css";
@value notSmall, medium, large from "../../styles/media-queries.css";

/*.active {
  border-bottom: 4px solid $mttrsSecondaryBlue;
}

.item {
  display: inline-block;
  font-size: 1.125rem;

  @media medium {
    margin: 0 0.5em;
  }

  @media large {
    margin-left: 1.125em;
  }
}

.itemLink {
  text-decoration: none;
  color: #FFF;
  padding: 0.25em 0;
  transition: color .5s ease-in-out;

  &:hover {
    border-bottom: 4px solid $mttrsSecondaryBlue;
  }
  @media medium {
    padding: 0.3125em;
  }
}*/
