@import "../../styles/variables.css";
@value notSmall, medium, large from "../../styles/media-queries.css";

.active {
  .name {
    opacity: 1;
  }

  .color {
    height: 25px;
  }
}

.item {
  display: inline-block;
  font-size: 0.875rem;
  width: 7.125rem;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  color: #FFF;
  transition: color .5s ease-in-out;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25px;
  }

  &:hover {
    .name {
      opacity: 1;
    }

    .color {
      height: 25px;
    }
  }
}

.name {
  display: block;
  opacity: 0.5;
  margin-bottom: 0.5em;
}

.color {
  display: block;
  width: 100%;
  height: 5px;
}
