.container {
  border-radius: 40px;
  border: 1px solid #DDD;
}

.image {
  padding: 1px;
}

.imageSmall {
  height: 22px;
  width: 22px;
}

.imageBig {
  height: 32px;
  width: 32px;
}

.imageHuge {
  height: 55px;
  width: 55px;
}
