@import "../../styles/mixins.css";

.container {
  padding-top: calc((88 / var(--mttrsBase))rem);
  padding-left: 15px;
  padding-right: 15px;

  @media (--large) {
    padding-left: var(--menuWidth);
  }
}

.containerPublisher {
  composes: container;
  padding-top: 0;
}

.wrapper {
  margin-top: 0.675rem;
  @media (--medium) {
    padding: 0 1em;
  }
}

.story {
  display: flex;
  flex-flow: row;
  background-color: white;
  padding: 0 1em;
  margin: calc((15 / var(--mttrsBase))em) 0;
  height: 128px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.20);
  position: relative;

  @media (--notSmall) {
    padding: 8px 16px;
    width: calc((620 / var(--mttrsBase))rem);
    margin-left: auto;
    margin-right: auto;
  }
}

.image {
  @mixin animated-background;

  width: 120px;
  height: 90px;
  margin-right: 10px;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  @mixin animated-background;

  width: 70%;
  height: 15px;
  margin-bottom: 20px;

  @media (--medium) {
    width: 60%;
  }

  @media large {
    width: 500px;
  }
}

.publisher {
  @mixin animated-background;

  width: 50%;
  height: 15px;
}
