@import "../../styles/mixins.css";
@value notSmall, medium, large from "../../styles/media-queries.css";

.container {
  padding-top: 12.25rem;
}

.containerPublisher {
  padding-top: 2.2rem;
}

.wrapper {
  @media medium {
    padding: 0 1em;
  }

  @media notSmall {
    lost-center: 45.5em;
  }
}

.story {
  display: flex;
  flex-flow: row;
  background-color: white;
  padding: 0 1em;
  margin: 0.9375em 0;
  height: 128px;
  box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.20);
  position: relative;

  @media notSmall {
    padding: .5em 1em;
  }
}

.image {
  @mixin animated-background;

  width: 120px;
  height: 90px;
  margin-right: 10px;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.title {
  @mixin animated-background;

  width: 70%;
  height: 15px;
  margin-bottom: 20px;

  @media medium {
    width: 60%;
  }

  @media large {
    width: 500px;
  }
}

.publisher {
  @mixin animated-background;

  width: 130px;
  height: 15px;
}
