@import "../../styles/variables.css";

.container {
  lost-center: 45.5em;
}

.publisher {
  color: $mttrsGray;
  display: flex;
  align-items: center;
  height: 4.85rem;
  padding: 0 0.5325rem;
  font-size: 0.875rem;
  margin: 0 0.65625rem;

  > div {
    margin-right: 0.75em;
  }
}
