.storyLinksContainer {
  display: flex;
  justify-content: center;
}

.onboardingContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  position: fixed;
  padding: .4em;
  cursor: pointer;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.storyLinksButton {
  composes: button;
  font-size: 1.3rem;
  bottom: 1rem;
  background-color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;

  @media (--large) {
    left: 0;
    margin-left: calc(50% + 99px);
  }
}

.onboardingButton {
  composes: button;
  text-transform: uppercase;
  color: white;
  bottom: 1rem;
  left: calc((24 / var(--mttrsBase))rem);
  color: var(--mttrsOtherGray);

  @media (--large) {
    background-color: var(--mttrsGray);
    left: 0;
    margin-left: calc(65%);
    bottom: 18vh;
    right: calc((29 / var(--mttrsBase))rem);
    bottom: calc((25 / var(--mttrsBase))rem);
    padding: calc((8 / var(--mttrsBase))rem) calc((18 / var(--mttrsBase))rem);
    width: calc((90 / var(--mttrsBase))rem);
  }
}
