.button {
  position: fixed;
  bottom: 1rem;
  left: 48%;
  background-color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  text-align: center;
  padding: .4em;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
