.container {
  display: flex;
  justify-content: center;
}

.button {
  position: fixed;
  bottom: 1rem;
  background-color: white;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  padding: .4em;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--large) {
    left: 0;
    margin-left: calc(50% + 99px);
  }
}
